@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Roboto:wght@400;700&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #3088df, #0091d4, #0092a6, #008d63, #0a8210);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}



.flower {
    width: 200px;
    margin-bottom: 20px;
    
}